# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs
/Senparc.Weixin.Sample.Net6.MinSample/Senparc.Weixin.Sample.Net6.MinSample/App_Data/SenparcTraceLog
/Senparc.Weixin.Sample.Net6.MinSample/Senparc.Weixin.Sample.Net6.MinSample/App_Data/WeChat_OfficialAccount
/Senparc.Weixin.Sample.Net6.MinSample/Senparc.Weixin.Sample.Net6.MinSample/bin
/Senparc.Weixin.Sample.Net6.MinSample/Senparc.Weixin.Sample.Net6.MinSample/obj
/Senparc.Weixin.Sample.Net6.MinSample/.vs/
/Senparc.Weixin.Sample.Net6.MinSample/Senparc.Weixin.Sample.Net6.MinSample/appsettings.bak.Development.json
/Senparc.Weixin.Sample.Net6.MinSample/Senparc.Weixin.Sample.Net6.MinSample/appsettings.bak.json
